---
layout: default
---

<h3>Articles</h3>
<ul style="padding-left: 20px;">
  {% for post in site.posts %}
    <li style="margin-bottom: 20px;">
      <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span> &ndash; 
      <strong><a href="{{ post.url | relative_url }}">{{ post.title }}</a></strong>
      {% if post.excerpt %}
        <div style="margin-top: 5px; font-size: 0.95em; color: #333;">
          {{ post.excerpt | strip_html }}
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
